.wrapperSVG {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}
.wrapperSVG:hover {
  color: #0880ae;
}
.wrapperSVG:hover svg path {
  fill: #0880ae;
}
svg:hover {
  fill: green;
}
